*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin/

build/\.vs/Wolfy2D_Solution/v14/

*.vcxproj

*.filters

*.user

*.log

build/obj/
*.sln

*.opendb

*.db

build/chrome_debugger\.json
